.logoBranco {
    position: absolute;
    width: 300px;
    height: 80px;
    background-image: url("logoBranco.png");
    background-size: 300px;
    background-repeat: no-repeat;
}

body{
    text-align: center;
}

.loguinInicial,
.loguinInicialMorador {
    position: absolute;
    padding: 20px auto;
    background-color: rgb(255, 255, 255);
    border: solid rgb(121, 120, 120);
    border-radius: 12px;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 13vh;
    left: 0;
    right: 0;
    text-align: center;
    animation: exibir;
}

.botoes {
    display: flex;
    border: none;
    width: auto;
}

.clienteMorador {
    background-color: transparent;
    padding: 10px 25px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: auto;
}
.vendedorMorador {
    background-color: transparent;
    padding: 10px 25px;
    border: none;
    border-left: solid rgb(121, 120, 120);
    border-bottom: solid rgb(121, 120, 120);
    color: rgba(0, 0, 0, 0.272);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.cliente {
    background-color: transparent;
    padding: 10px 25px;
    border: none;
    border-bottom: solid rgb(121, 120, 120);
    border-right: solid rgb(121, 120, 120);
    color: rgba(0, 0, 0, 0.272);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.vendedor {
    background-color: transparent;
    padding: 10px 25px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: auto;
}

.textoLoguin {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 22px;
    text-align: left;
    cursor: default;
}

.texto2 {
    margin-top: 20px;
    font-size: 20px;
    cursor: default;
}

.usuario,
.senha {
    border: none;
    border-bottom: solid rgb(159, 159, 159);
    margin-top: 10px;
    text-align: left;
    color: rgba(0, 0, 0, 0.474);
    height: 35px;
    width: 230px;
}

.esqueceuSenha,
.criarConta {
    background: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;
}

.criarConta {
    margin-bottom: 20px;
}

.loguin {
    background-color: rgb(182, 182, 182);
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    height: 45px;
    width: 150px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}